

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0D0F1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    color: #E4E6EB;
}

.switch-container {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.switch-btn {
    background: #1C1F2E;
    padding: 12px 28px;
    border-radius: 6px;
    border: none;
    color: #CDD7FF;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.switch-btn.active {
    background: #4A4FFF;
    color: #fff;
}

.card {
    background: #1B1D29;
    width: 360px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #3B3F55;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    color: #DFE3FF;
}

.card h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #9BB1FF;
}

.input-group {
    background: #1C1F2E;
    padding: 13px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    font-size: 18px;
    margin-right: 10px;
    color: #A855FF;
}

.input-group input {
    background: transparent;
    border: none;
    outline: none;
    color: #E4E6EB;
    flex: 1;
}

.card label {
    font-size: 14px;
    color: #9BB1FF;
}

.card input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin: 8px 0 18px;
    background: #1C1F2E;
    color: #E4E6EB;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #4A4FFF;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #6B6FFF;
}

.forgot {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #CDD7FF;
    text-decoration: none;
}

.hidden {
    display: none;
}
